<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dịch vụ</h2>
                <h3 class="section-subheading text-muted">Chúng tôi cung cấp các dịch vụ dưới đây với chất lượng tốt
                    nhất
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Vệ Sinh Thảm</h4>
                <p class="text-muted">Làm sạch chiếc thảm nhà bạn một cách an toàn và gọn nhẹ, bằng máy móc, chất tẩy
                    rửa chuyên dụng</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-couch fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Vệ Sinh Sofa</h4>
                <p class="text-muted">Sử dụng máy móc, hoá chất chuyên dụng để làm sạch chiếc ghế sofa của nhà bạn một
                    cách gọn gàng và an toàn nhất</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-industry fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Vệ Sinh Công Nghiệp</h4>
                <p class="text-muted">Phục vụ tất cả những yêu cầu làm sạch mặt bằng cho công trình của bạn
                </p>
            </div>
        </div>
    </div>
</section>